
name: Release

on:
  push:
    tags:
      - 'v*'

permissions: write-all

jobs:
  changelog:
    runs-on: ubuntu-latest
    outputs:
      release_notes: ${{ steps.release-notes.outputs.release_notes }}
      published_at: ${{ steps.release-notes.outputs.release_published_at }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - id: release-notes
        name: Get release notes
        run: |
          gh api \
            -H "Accept: application/vnd.github+json" \
            /repos/fazulk/slackify-markdown-action/releases/latest > data.json
          echo "release_notes=$(jq '.body' data.json)" >> $GITHUB_OUTPUT
          echo "release_tag_name=$(jq '.tag_name' data.json)" >> $GITHUB_OUTPUT
          echo "release_published_at=$(jq '.published_at' data.json)" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # publish-to-slack-channel:
  #   needs: changelog
  #   name: Post release notes to slack
  #   runs-on: ubuntu-latest
  #   steps:
  #     - id: convertTextSlackReady
  #       uses: fazulk/slackify-markdown-action@working
  #       with:
  #         text: ${{ needs.changelog.outputs.release_notes }}

  #     - name: Post
  #       uses: slackapi/slack-github-action@v1.26.0
  #       with:
  #         channel-id: C071JTTK798
  #         payload: |
  #           {
  #             "text": "Your server API is ready to use.",
  #             "blocks": [
  #               {
  #                 "type": "section",
  #                 "text": {
  #                   "type": "mrkdwn",
  #                   "text": ${{ steps.convertTextSlackReady.outputs.text }}
  #                 }
  #               }
  #             ]
  #           }
  #       env:
  #         SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
  # # publish-to-notion:
  # #   name: Publish to notion
  # #   runs-on: ubuntu-latest
  # #   needs: changelog
  # #   steps:
  # #     - name: Check out repository
  # #       uses: actions/checkout@v2

  # #     - name: Set up Node.js
  # #       uses: actions/setup-node@v2
  # #       with:
  # #         node-version: 18

  # #     - id: release-notes
  # #       name: Get release notes
  # #       run: |
  # #         gh api \
  # #           -H "Accept: application/vnd.github+json" \
  # #           /repos/thecvlb/quiz-builder-front-end/releases/latest > data.json
  # #         echo "release_notes=$(jq '.body' data.json)" >> $GITHUB_ENV
  # #         echo "release_tag_name=$(jq '.tag_name' data.json)" >> $GITHUB_ENV
  # #         echo "release_published_at=$(jq '.published_at' data.json)" >> $GITHUB_ENV
  # #       env:
  # #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # #     - name: post to notion
  # #       run: node ./.github/actions/post-to-notion/index.js --notion_key=${{ secrets.NOTION_KEY }} --databaseId="${{ vars.NOTION_CHANGELOG_DB }}" --repo="${{ github.repository }}" --release=${{ env.release_tag_name }} --changelog=${{ env.release_notes }} --published_at=${{ env.release_published_at }}
